body {
    margin: 0;
}

.sectionHeader {
    width: 100%;
    height: 5%;
    color: white;
}

.sectionHeaderBlock {
    width: 4.25%;
    height: 53%;
    background-color: white;
    display: block;
    float: left;
    margin-top: 4.5px;
}

.sectionHeaderText {
    margin-left: 2%;
    font-family: 'Raleway';
    display: block;
    float: left;
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 5px;
}

#sectionOneHome {
    width: 100%;
    /* background-image: url('../img/bg.jpg');
    background-size: contain; */
    background-color: #282631;
    height: 100vh;
}

#sectionOneBox {
    position: absolute;
    margin-top: 30%;
    margin-left: 17%;
    width: 25%;
    height: 300px;
    color: #C8C5C0;
    font-family: 'Raleway';
}

#sectionOneBoxName {
    font-size: 3em;
    font-weight: 900;
}

#sectionOneBoxDesc {
    display: block;
    margin-top: 15px;
}

#sectionOneBoxButton {
    margin-top: 25px;
    display: block;
    width: 40%;
    height: 250px;
    text-align: center;
    border: 1px solid #C8C5C0;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}

#sectionOneBoxButton :hover {
    color: #888888;
    border: 1px solid #888888;
}

#sectionTwoHome {
    width: 100%;
    background-color: #25232E;
    padding-top: 5%;
    padding-left: 17%;
}

#sectionTwoHomeDescBox {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 20%;
}

#sectionTwoHomeDescImage {
    display: block;
    float: left;
    height: 200px;
    width: 250px;
}

#sectionTwoHomeDescBoxRight {
    display: block;
    float: left;
}

#sectionTwoHomeDescHeader {
    color: white;
    font-family: 'Raleway';
    font-size: 2em;
}

#sectionTwoHomeDescContent {
    color: white;
    font-family: 'Raleway';
    margin-top: 15px;
}

#sectionThreeHome {
    width: 100%;
    background-color: #22202B;
    height: 100vh;
    padding-top: 5%;
    padding-left: 17%;
}

#sectionFourHome {
    width: 100%;
    background-color: #201E29;
    height: 100vh;
    padding-top: 5%;
    padding-left: 17%;
}

#sectionFiveHome {
    width: 100%;
    background-color: #22202B;
    height: 100vh;
    padding-top: 5%;
    padding-left: 17%;
}

#mainNav {
    position: absolute;
    margin-top: 10px;
    width: 100%;
}

#mainNav>ul {
    margin-left: 60%;
    width: auto;
    height: 24px;
}

#mainNav>ul>li {
    display: block;
    float: left;
    height: 100%;
}

#mainNav>ul>li>a {
    display: block;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 1em;
    margin-right: 18px;
    height: 100%;
    cursor: pointer;
    color: #9D9D9D;
    text-decoration: none;
}

#mainNav>ul>li>a:hover {
    color: #7FA844;
    border-bottom: 0.15em solid #7FA844;
}