<header class="start-header width-100">
<div class="container width-100 align-items-center text-center">
    <h1 class="samed-guener-start-text text-center text-uppercase">Samed Güner</h1>
    <h2 class="keyword-text text-center text-uppercase">
        Software Development · DevOps · Machine Learning
    </h2>
</div>
</header>
<section class="about-section" id="about">
<div class="container width-100 align-items-center text-center" >
<div class="about-image display-inline-block">
    <img src="img/samed_guener_2.jpg" id="samed-guener-image" alt="Image of Samed Güner"/>
</div>
<div class="about-text display-inline-block">
    <div class="about-text-header">Hey, I'm <span style="color:rgb(145, 139, 132);">Samed Güner</span>!</div>
    <div class="about-text-content">
            <p>I'm <span id="age" style="color:rgb(145, 139, 132);"></span> old and a big fan of programming, weightlifting and all kind of technology stuff.</p>
            <br>
            <p>I am currently working as a software engineer at SAP. My current focus is on enabling SAP to deliver cloud software reliably and continuesly.</p>
            <br>
            <p>From 2016 to 2019, I did my dual study at <span style="color:rgb(145, 139, 132);">SAP</span> in Germany with focus on Applied Computer Science. This was in close partnership with Baden-Wuerttemberg Cooperative State University in Karlsruhe.</p>
             <br>
        <p>In 2021 I founded the start-up <a href="https://gentlemens.de">Gentlemen's</a> with Tobias Robl, which has the goal to disrupt men's fashion with innovative, sustainable and durable products.</p>    
            <br>
            <p>In my spare time, I program a lot more on many private projects, go to the gym and meet up with friends.</p>
    </div>
</div>
</div>
</section>
<!-- <section class="blog-section" id="blog">
<div class="section-header text-uppercase width-100">
    Blog
</div>
    <div class="blog-description width-100 text-center">
        <p>Once in a while I am writing articles at <a href="http://blog.samedguener.com/" target="_blank">blog.samedguener.com</a>.</p>
        <p>Here are the most recent ones:</p>
    </div>
    <div class="blog-items" id="blog-items">
        {{ range first 3 .Data.Pages }}
        <div class="blog-post">
            <div class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
            <div class="blog-post-date">{{ .Date.Format "Jan 2, 2006" }}</div>
            <div class="blog-post-description">{{ .Params.shortdesc }}</div>
        </div>
        {{ end }}
    </div>
</section>
<section class="contact-section" id="contact">
<div class="section-header text-uppercase width-100">
Contact
</div>
</section>
-->
